!!! 5
%head  
  %title Melitsa Sikelianos
  
  <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
  
  = stylesheet_link_tag 'screen.css', :media => 'screen, projection'

  = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"
  = javascript_include_tag "jQueryRotateCompressed.2.1"
  = javascript_include_tag "jquery.isotope.min"
  = javascript_include_tag "application"
  =# enable_typekit 'pfz4bwx'
  
%body
  = yield
